*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(./OIF.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.calculater{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px 10px black;
    background-color: rgba(0, 0, 0, 0.301);
}
input{
    width: 320px;
    border: none;
    background: rgba(0, 0, 0, 0.444);
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 10px;
    font-size: 40px;
    color: white;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: white;
}
input:focus{
    border: none;
    outline: none;
    /* background: transparent; */
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 22px;
    border: none;
    background: transparent;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 15px black;
}
.operator{
    color: white;
}
button:active{
    background-color: rgba(169, 117, 49, 0.252);
}